{% extends 'main/base.html' %}
{% block content %}
 <div class="container my-5 py-5 z-depth-1">
      <section class="px-md-5 mx-md-5 text dark-grey-text">
      <div class="col-md-12 ">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <span class="anchor" id="formResetPassword"></span>
            <div class="card card-outline-secondary" style="margin-top: -107px;">
              <div class="card-header">
                  <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="mb-0">Password Reset</h3>
              </div>
              <div class="card-body">
                <form method="post" class="form" role="form">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="inputResetPasswordEmail">Email</label>
                        <input class="form-control" name="email" id="inputResetPasswordEmail" required="" type="email">
                        <span class="form-text small text-muted" id="helpResetPasswordEmail">Password reset instructions will be sent to this email address.</span>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success btn-lg float-right" type="submit">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
 </div>
{% endblock %}
